/* Page Entries*/
body { 
    background-color: #424549; 
    color: white;
    padding:0;
    margin:0;
    font-family: "Trebuchet MS";
    font-size: 100%;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}
div.page {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 20px;
    grid-template-areas: 'header content' 'menu content' 'footer footer';
}
div.header {
    background-color: #53565A;
    border: 1px solid black;
    grid-area:header;
}
div.menu {
    background-color: aquamarine;
    grid-area:menu;
}
div.content{
    background-color: blanchedalmond;
    grid-area:content;
}
div.footer {
    background-color: crimson;
    grid-area:footer;
}

@media only screen and (max-width: 600px) {
    div.page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 9fr 20px;
    grid-template-areas: 'header' 'menu' 'content' 'footer';
    }
}

/*Text Entries*/
.Big {
    font-weight: bold;
    font-size: 2.5em;
}
.HeaderText {
    float:left;
}
a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*Image Entries*/
img {
    border: 3px solid black;
  }
/*Fade Entries*/
.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}