/* Page Entries*/
body { 
    background-color: #424549; 
    color: white;
    padding:0;
    margin:0;
    font-family: "Trebuchet MS";
    font-size: 100%;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}
div.page {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr 20px;
    grid-template-areas: 'header menu' 'content content' 'footer footer';
}
div.header {
    background-color: #2c2f33;
    border: 1px solid #000000;
    grid-area:header;
}
div.menu {
    background-color: #23272a;
    border: 1px solid #000000;
    grid-area:menu;
}
div.content{
    background-color: #99aab5;
    border: 1px solid #000000;
    grid-area:content;
}
div.footer {
    background-color: #FFAD00;
    border: 1px solid #000000;
    grid-area:footer;
}

@media only screen and (max-width: 600px) {
    div.page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 9fr 20px;
        grid-template-areas: 'header' 'menu' 'content' 'footer';
    }
    .menubutton {
        width: 1vh;
        height: 5vh;
        padding: 2px 4px;
        float: left;
    }
}

/*Text Entries*/
.Big {
    font-weight: bold;
    font-size: 2.5em;
}
.HeaderText {
    margin-left: 6px;
    float: left;
}
.HeaderImage {
    float:left;
}
a:link {
    color: #FFAD00;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #FFAD00;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*Button Entries*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*Fade Entries*/
.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}